<h2><%= @star.initial_name %></h2>
<p><%= @star.distance_from_earth_in_light_years %> light Years from Earth</p>
<p><%= @star.price %>Euro</p>
<p>It is an <%= @star.spectral_class %> spectral class </p>
